@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #ffea99 */
    /* background-color: white; */
}

li, a, button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:rgb(207, 91, 169);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    /* added */
    height: 120px;
    /* background-color: #ffea99; */
    background-color: #ffffff;
    /* border: 2px solid red; */

}


.logo {
    cursor: pointer;
    margin-right: auto;
    border-radius: 60px;
}

.nav__links{
    list-style: none;
    /* added */
    /* background-color: #ffea99; */
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px; 
    /* added */
    /* background-color: #ffea99; */


}

.nav__links li a {
    transition: all 0.3s ease;
    /* added */
    /* background-color: #ffea99; */
}


.nav__links li a:hover {
    color: rgb(83, 191, 218)
    

}


.cta button{
    /* margin-left: 20px; */
    padding:  25px;
    /* background-color: rgb(226, 210, 146); */
    background-color: white;
    border: 2px solid white;
    /* border-radius: 50px; */
    cursor: pointer;
    transition: all 0.3s ease 0;
    opacity: 70%;
    
}

/* button:hover {
    /* background-color: rgb(195, 157, 173); */
       /* added */
       /* background-color: #ffea99; */
/* } */ */


/* added content */

.contentImage{
    /* display: flex; */
    /* justify-content: center; */
    border: 2px solid rgb(208, 208, 208);
    /* padding: 20px; */

}

.contentImage2{
    /* display: flex; */
    /* justify-content: center left; */
    margin-left: 200px;
    /* border: 2px solid rgb(208, 208, 208); */
    padding: 20px;

}



.contentImage3{
    /* display: flex; */
    /* justify-content: center left; */
    margin-left: 400px;
    margin-top: 8%;
    /* border: 2px solid rgb(208, 208, 208); */
    padding: 20px;
    /* background-color: rgb(210, 194, 133); */

}


.contentImage img {
    max-width: 100%;
    height: auto;


}


.imagetext{
    position: absolute;
    top:50%; 
    left: 20%;
    color: azure;
    padding: 10px;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    letter-spacing: -0.5px;
    
}



.imagetext2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    position: absolute;
    top:118%; 
    left: 50%;
    color: black;
    padding: 10px;
    background-color: #ffffff;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif  ;
    letter-spacing: -0.5px;
    
}